*.log
*.aux
*.nav
*.out
*.snm
*.toc
*.swp

/Manifest.toml

/docs/build/
/docs/Manifest.toml

# vitepress
/docs_vitepress/build/
/docs_vitepress/final_site/
/docs_vitepress/node_modules/
/docs_vitepress/package-lock.json

# MAC
.DS_Store
.AppleDouble
.LSOverride