*.log
*.aux
*.nav
*.out
*.snm
*.toc
*.swp

/Manifest.toml

/docs/build/
/docs/Manifest.toml

# vitepress
/docs/final_site/
/docs/node_modules/
/docs/package-lock.json

# MAC
.DS_Store
.AppleDouble
.LSOverride